
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.loginbody{
  margin: 0;
  padding: 0;
  background-image: url('./kmch.jpg'); /* Adjust the path based on your project structure */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}